<%- include('../views/partials/header.ejs') %> 
<% console.log("user",user) %>
<img class="my"
src='<%=user.avatarUrl%>'   height="500px"
width= auto />
<div class="bg">
<% friends.forEach(friend => { %>
  <div class="friend" >
  <a href="/user/<%-friend.id%>"><img class="friended" src='<%-friend.avatarUrl%>' height="250px"
  width="400px"/> 
  <div class="text"> YOOOO check out <%- `${friend.name}'s page`%> </div>
</div>
<% }); %> 
</div>


<%- include('../views/partials/footer.ejs') %>
